a:link,
a:visited,
a:hover,
a:focus,
a:active {
  background-color: gold;
  color: black;
  padding: 0.125em 0.25em;
  overflow-wrap: break-word;
  text-decoration: none;
  word-break: break-word;
  word-wrap: break-word;
}

a:hover,
a:focus {
  background-color: gold;
  color: black;
}

body {
  background-color: white;
  color: black;
  display: grid;
  font-family: 'Courier Prime', monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  grid-template-columns: 100vw;
  grid-template-rows: auto auto 1fr auto;
  line-height: 1.5;
  min-height: 100vh;
  padding: 0;
  width: 100vw;
}

p {
  margin-top: 0.75em;
}

strong {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

img {
  display: block;
  max-width: 100%;
}

mark {
  background-color: gold;
}

.Header {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  white-space: nowrap;
}

.Header-name {
  letter-spacing: 0.03125em;
  padding: 0.875em 0.75em;
  text-transform: uppercase;
}

.Header-nav {
  display: none;
  flex: 1 1 auto;
}

.Header-navList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Header-navListItem {
 padding: 0.875em 0.75em;
}

.Header-link {
  display: block;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.Header-link:link,
.Header-link:visited,
.Header-link:hover,
.Header-link:focus,
.Header-link:active {
  background-color: unset;
  color: white;
}

.Header-link.is-current:link,
.Header-link.is-current:visited,
.Header-link.is-current:hover,
.Header-link.is-current:focus,
.Header-link.is-current:active {
  color: gold;
}

.Header-summary {
  cursor: default;
  height: 0;
  outline: none;
  overflow: hidden;
  padding-top: 4em;
  position: relative;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 4em;
  z-index: 1;
}

.Header-summary::before {
  bottom: 0;
  color: white;
  content: "\2630";
  font-size: 2em;
  font-style: normal;
  left: 0;
  line-height: 2;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.Header-details[open] .Header-summary::before {
  content: "\2715";
}

.Header-summary::-webkit-details-marker {
  display: none;
}

.Header-mobileNav {
  background-color: black;
  bottom: 0;
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  min-height: calc(100vh - 4em);
  position: absolute;
  right: 0;
  top: 0;
}

.Header-mobileNavList {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.Header-mobileNavListItem {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  padding: 1em;
}

.Header-mobileNavlink {
  display: block;
  flex: 1 1 auto;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1em;
  text-align: center;
}

.Header-mobileNavlink:link,
.Header-mobileNavlink:visited,
.Header-mobileNavlink:hover,
.Header-mobileNavlink:focus,
.Header-mobileNavlink:active {
  background-color: unset;
  color: white;
}

@media (min-width: 641px) {

  .Header-nav {
    display: block;
  }

  .Header-details {
    display: none;
  }

}

.Banner {
  background-color: gold;
  padding: 2em;
  text-align: center;
}

.Main {
  margin: 4em auto;
  max-width: 1024px;
  min-width: 50vw;
  padding: 0 4vw;
}

.Contact {
  background: gold;
  color: white;
  padding: 2em;
  text-align: center;
}

.Contact-listItem {
  background: black;
  padding: 1em;
}

.Contact-listItem + .Contact-listItem {
  margin-top: 2em;
}

@media (min-width: 641px) {
  .Contact-listItem + .Contact-listItem {
    margin-top: 0;
    margin-left: 2em;
  }
}

.Contact-link:link,
.Contact-link:visited {
  background-color: unset;
  color: white;
}

.Contact-link:hover,
.Contact-link:focus,
.Contact-link:active {
  color: gold;
}

.Contact-linkTitle {
  color: gold;
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.Contact-link:hover .Contact-linkTitle,
.Contact-link:focus .Contact-linkTitle,
.Contact-link:active .Contact-linkTitle {
  color: white;
}

.Footer {
  background: black;
  color: dimgray;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  padding: 1em;
}

.Footer-link:link,
.Footer-link:visited,
.Footer-link:hover,
.Footer-link:focus,
.Footer-link:active {
  background-color: unset;
  color: gold;
}

.Heading {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  margin-top: 0.75em;
}

.Heading--size700 {
  font-size: 28px;
}

.Heading--size600 {
  font-size: 21px;
}

.Heading--size500 {
  font-size: 14px;
}

.List {
  margin-left: 2em;
  margin-top: 0.75em;
}

.List--ordered {
  list-style-type: decimal;
}

.List--unordered {
  list-style-type: disc;
}

.Blockquote {
}

.Broadsheet {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  padding: 2em;
}

.Broadsheet + .Broadsheet {
  margin-top: 2em;
}

.Broadsheet-heading {
  font-family: "Rubik", sans-serif;
  font-size: 1.5em;
  font-weight: 800;
}

.Slideshow > .Slide {
/*   animation: SlideShowAnimation 60s linear infinite 0s; */
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100%;
  left: 0;
  margin: 0;
/*   opacity: 0; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

/*
.Slideshow > .Slide:nth-child(1) {
  background-image: url("../images/DRUM-3-2.jpeg");
}

.Slideshow > .Slide:nth-child(2) {
  animation-delay: 12s;
  background-image: url("../images/DRUM-13.jpeg");
}

.Slideshow > .Slide:nth-child(3) {
  animation-delay: 24s;
  background-image: url("../images/DRUM-23.jpeg");
}

.Slideshow > .Slide:nth-child(4) {
  animation-delay: 36s;
  background-image: url("../images/DRUM-204.jpeg");
}

.Slideshow > .Slide:nth-child(5) {
  animation-delay: 48s;
  background-image: url("../images/DRUM-227.jpeg");
}

@keyframes SlideShowAnimation {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
  }
  8% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  17% {
    opacity: 1
  }
  25% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}
 */


